#myBoard {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#startPositionBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#status {
    position: absolute;
    width: 100px;
}