<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/static/js/chessboard-1.0.0.min.js"></script>
    <script src="/static/js/chess.js"></script>
    <script src="/static/index.js" defer></script>
    <link rel="stylesheet" href="/static/css/chessboard-1.0.0.min.css">
    <link rel="stylesheet" href="/static/mystyles.css">
    <title>BagelChessZero</title>
</head>

<body>
    <button id="startPositionBtn">Reset Board</button>
    <div id="myBoard" style="width: 800px"></div>
    <label>Status:</label>
    <div id="status"></div>
</body>

</html>